coremltools==4.1
torch==1.9.0
numpy==1.19.2
thop==0.0.31.post2005241907
opencv_python==4.5.2.54
onnx==1.9.0
scipy==1.5.4
seaborn==0.11.1
pandas==1.1.5
pycocotools==2.0.2
torchvision==0.10.0
tqdm==4.61.1
matplotlib
requests==2.25.1
Flask==2.0.1
pafy==0.5.5
Pillow==8.2.0
PyYAML
wandb==0.10.32
